body{
  overflow-x: hidden;
}
.popup-msg {
  position: fixed;
  z-index: 100;
  bottom: 55px;
  right: 15px;
  padding: 0.5rem 1rem;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #000;
  animation: slideUp 10s ease .2s 1 ;
  opacity: 0;
}

.success{
  background-color: #afdb87;
  color: #0b7c03;
  border-color: #2b4710 ;
}

.success span{
  color: #2b4710;
}

.warning{
  background-color: #dbbb87;
  color: #7c4303;
  border-color: #473210 ;
}

.warning span{
  color: #473210;
}


@keyframes slideUp {
  0%, 100%{
    opacity: 0;
    visibility: hidden;
    right: -50px;
  }
  10%,95%{
    opacity: 1;
    visibility: visible;
    right: 15px;
  }
}